<div class="main-container">
  <div class="filters">
    <span>Filters</span>
    <div class="inputs">
      <form [formGroup]="moviesForm">
        <mat-form-field>
          <input matInput placeholder="Title" formControlName="title" type="text" (input)="onTitleChange()">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Date" formControlName="date" type="number" (input)="onDateChange()">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="list">
    @for (movie of filteredMovies; track $index) {
      <div class="movie">
        <div class="movie-general">
          <span>{{movie.title}}</span>
          <button (click)="onButtonClicked(movie.id)">Details</button>
        </div>
        <div class="movie-data">
          <span>Release date: {{movie.release_date}}</span>
          <span>Budget: ${{movie.budget}} million</span>
          <span>Duration: {{movie.duration}}</span>
        </div>
      </div>
    }
  </div>
</div>
